MONGO_URI=mongodb+srv://username:password@cluster0.example.mongodb.net/dairyfarm?retryWrites=true&w=majority
PORT=8080
# For local development
# CLIENT_URL=http://localhost:5173
# For Vercel production (remove trailing slash!)
CLIENT_URL=https://dairy-farm-sigma.vercel.app
JWT_SECRET=replace-with-a-long-random-secret
